In [1]:
import sqlite3

In [2]:
con = sqlite3.connect('escola.db')

In [3]:
type(con)

sqlite3.Connection

In [4]:
cur = con.cursor()

In [5]:
type (cur)

sqlite3.Cursor

In [12]:
sql_create = 'create table cursos'\
'(id integer primary key,'\
'titulo varchar(100),'\
'categoria varchar(140) )'

In [13]:
cur.execute(sql_create)

In [14]:
sql_insert = 'insert into cursos values (? , ?, ?)'

In [15]:
recset = [(1000, 'Ciencia de Dados', 'Datas Science'),
          (1001, 'Big Data Fundamentos','Big Data'),
          (1002, 'Python Fundamentos', 'Analise de Dados')]

In [16]:
for rec in recset:
    cur.execute(sql_insert, rec)

In [17]:
con.commit()

In [18]:
sql_select = 'select * from cursos'

In [19]:
cur.execute(sql_select)

In [20]:
dados = cur.fetchall()

In [21]:
print(dados     )

[(1000, 'Ciencia de Dados', 'Datas Science'), (1001, 'Big Data Fundamentos', 'Big Data'), (1002, 'Python Fundamentos', 'Analise de Dados')]

In [22]:
for linha in dados:
    print(linha)

(1000, 'Ciencia de Dados', 'Datas Science')
(1001, 'Big Data Fundamentos', 'Big Data')
(1002, 'Python Fundamentos', 'Analise de Dados')

In [23]:
for linha in dados:
    print('Curso ID: %d, Titulo: %s, Categoria: %s \n ' %linha)

Curso ID: 1000, Titulo: Ciencia de Dados, Categoria: Datas Science

Curso ID: 1001, Titulo: Big Data Fundamentos, Categoria: Big Data

Curso ID: 1002, Titulo: Python Fundamentos, Categoria: Analise de Dados

In [25]:
recset = [(1003, 'Gestao de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Analise de Dados')]

for rec in recset:
    cur.execute(sql_insert, rec)

con.commit()

In [26]:
cur. execute('select * from cursos')

recset = cur.fetchall()

for rec in recset:
       print('Curso ID: %d, Titulo: %s, Categoria: %s \n ' %rec)

Curso ID: 1000, Titulo: Ciencia de Dados, Categoria: Datas Science

Curso ID: 1001, Titulo: Big Data Fundamentos, Categoria: Big Data

Curso ID: 1002, Titulo: Python Fundamentos, Categoria: Analise de Dados

Curso ID: 1003, Titulo: Gestao de Dados com MongoDB, Categoria: Big Data

Curso ID: 1004, Titulo: R Fundamentos, Categoria: Analise de Dados

In [27]:
con.close()