In [32]:
import sqlite3
import random
import time
import datetime

conn = sqlite3.connect('dsa.db')

c = conn.cursor()

def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, ' \
             'prod_name TEXT, valor REAL)')
    
def data_insert():
    c.execute ("INSERT INTO produtos VALUES (10, '2016=05=02 14:32:11', 'Teclado', 90)")
    conn.commit()
    c.close()
    conn.close()
    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?,?,?)",
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)

def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 60.0")
    for linha in c.fetchall():
        print(linha)
        
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])
        
        
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 69.0 WHERE valor = 55.0")
    conn.commit()
    
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 77.0")
    conn.commit()

In [29]:
leitura_todos_dados()

(10, '2016=05=02 14:32:11', 'Teclado', 90.0)
(11, '2017-12-11 21:37:32.409379', 'Monitor', 55.0)
(12, '2017-12-11 21:37:33.426438', 'Monitor', 81.0)
(13, '2017-12-11 21:37:34.441496', 'Monitor', 69.0)
(14, '2017-12-11 21:37:35.537558', 'Monitor', 58.0)
(15, '2017-12-11 21:37:36.557617', 'Monitor', 51.0)
(16, '2017-12-11 21:37:37.571675', 'Monitor', 86.0)
(17, '2017-12-11 21:37:38.668737', 'Monitor', 68.0)
(18, '2017-12-11 21:37:39.769800', 'Monitor', 62.0)
(19, '2017-12-11 21:37:40.783858', 'Monitor', 64.0)
(20, '2017-12-11 21:37:41.796916', 'Monitor', 77.0)

In [30]:
atualiza_dados()

In [31]:
leitura_todos_dados()

(10, '2016=05=02 14:32:11', 'Teclado', 90.0)
(11, '2017-12-11 21:37:32.409379', 'Monitor', 69.0)
(12, '2017-12-11 21:37:33.426438', 'Monitor', 81.0)
(13, '2017-12-11 21:37:34.441496', 'Monitor', 69.0)
(14, '2017-12-11 21:37:35.537558', 'Monitor', 58.0)
(15, '2017-12-11 21:37:36.557617', 'Monitor', 51.0)
(16, '2017-12-11 21:37:37.571675', 'Monitor', 86.0)
(17, '2017-12-11 21:37:38.668737', 'Monitor', 68.0)
(18, '2017-12-11 21:37:39.769800', 'Monitor', 62.0)
(19, '2017-12-11 21:37:40.783858', 'Monitor', 64.0)
(20, '2017-12-11 21:37:41.796916', 'Monitor', 77.0)

In [33]:
remove_dados()

In [34]:
leitura_todos_dados()

(10, '2016=05=02 14:32:11', 'Teclado', 90.0)
(11, '2017-12-11 21:37:32.409379', 'Monitor', 69.0)
(12, '2017-12-11 21:37:33.426438', 'Monitor', 81.0)
(13, '2017-12-11 21:37:34.441496', 'Monitor', 69.0)
(14, '2017-12-11 21:37:35.537558', 'Monitor', 58.0)
(15, '2017-12-11 21:37:36.557617', 'Monitor', 51.0)
(16, '2017-12-11 21:37:37.571675', 'Monitor', 86.0)
(17, '2017-12-11 21:37:38.668737', 'Monitor', 68.0)
(18, '2017-12-11 21:37:39.769800', 'Monitor', 62.0)
(19, '2017-12-11 21:37:40.783858', 'Monitor', 64.0)